
.gallery-outer{
    width: 100%;
    padding: 20px;
}
.gallery-outer .gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 5px;
    background-color: pink;
}
.gallery-outer .gallery-container .images-container{
    margin: 10px;
}
.gallery-outer .gallery-container .images-container .images{
    height: 300px;
    width: 98%;
    cursor: pointer;
    border-radius: 40px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out 0.08s;
    /* name, duration, timing-function and delay */
}
.images:hover
{
    transform: scale(1.03);
}
.message-popup{
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}
.message-popup .popup-message{
    background-color: pink;
    height: auto;
    width: auto;
    font-size: 30px;
    font-weight: 500;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}